
<h1><%= @group.name %></h1>
<h2><%= @leader.name %></h2>

<% if @group_users.none? { |group_user| group_user.user_id == current_user.id } %>
  <%= link_to "参加する", group_users_path(group_id: @group.id), method: :post, class:"btn btn-sm btn-danger" %>
<% else %><!--if not group user-->

  <% if @leader != current_user %>
    <%= link_to "脱退する", group_user_path(@group.id), method: :delete, "data-confirm" => "脱退しますか？", class:"btn btn-sm btn-danger" %>
  <% else %><!--if group leader-->
    <%= link_to "Edit", edit_group_path(@group.id), class:"btn btn-sm btn-success" %>
    <%= link_to "グループを解散する", group_path(@group.id), method: :delete, "data-confirm" => "本当に解散しますか？", class:"btn btn-sm btn-danger" %>
  <% end %><!--if group leader-->

<% end %><!--if not group user-->

<div class="tabs">

  <div class="row">
    <ul class="nav nav-tabs col-12 text-center">
      <li class="nav-item col-5">
        <a class="nav-link active " data-toggle="tab" href="#section1">ユーザー一覧</a>
      </li>
      <li class="nav-item col-5">
        <a class="nav-link" data-toggle="tab" href="#section2">チャット欄</a>
      </li>
    </ul>
  </div><!--.row-->

  <div class="tab-content">

    <div id="section1" class="tab-pane fade show active">
      <h3>ユーザー一覧</h3>
      <% @group_users.each do |group| %>
        <p><%= group.user.name %></p>
      <% end %><!--.each group user-->
    </div><!--.tabpane #section1-->

    <div id="section2" class="tab-pane fade">
      <h3>チャット欄</h3>
      <% @messages.each do |messages| %>
        <p><%= messages.text %></p>
      <% end %><!--.each messages-->
      <%= form_with url: group_chats_path(group_id: @group.id), model: @chat, remote: true do |form| %>
        <p><%= form.text_field :text %></p>
        <p><%= form.submit "送信" %></p>
      <% end %><!--.form chat-->
    </div><!--.tabpane #section2-->

  </div><!--.tab-content-->
</div><!--.tabs-->