<!DOCTYPE html>
<html>
<head>
  <title>GameGuideSite</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/0cb697a6b2.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div class="container">
  <header>

    <div class="row">
    <div class="rogo col-5">
      <h2>
        <%= link_to "rogo", root_path, class: "link" %>
      </h2>
      <% if user_signed_in? %>
        <p><%= current_user.name %>さん<br>ようこそ！</p>
      <% end %>
    </div><!-- .rogo-->

    <div class="header-list col-7">
      <nav class="navbar navbar-expand">

        <% if request.fullpath.include? "/admin" %>

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "ホーム　", admin_root_path, class: "link" %>
            </li>
            <% if admin_signed_in? %>
              <li class="nav-item">
                 <%= link_to "ログアウト　", destroy_admin_session_path, method: :delete, class: "link" %>
              </li>
            <% else %><!--:if admin sign in-->
              <li class="nav-item">
                <%= link_to "ログイン　", new_admin_session_path, class: "link" %>
              </li>
            <% end %><!--:if admin sign in-->
          </ul>

        <% else %><!--:if url /admin-->

          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <%= link_to "ホーム　", root_path, class: "link" %>
            </li>

            <% if user_signed_in? %>

            <li class="nav-item">
              <%= link_to "グループ作成　", new_group_path, class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規投稿　", new_post_path, class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト　", destroy_user_session_path, method: :delete, class: "link" %>
            </li>

            <% else %><!-- if user sign in-->

            <li class="nav-item">
              <%= link_to "About　", homes_about_path, class: "link" %><!--アバウトページ-->
            </li>

            <li class="nav-item">
              <%= form_for(User.new, url:user_session_path) do |f| %>
                <!--:hiddn email-->
                <%= f.hidden_field :email, value: "guest@guest" %>
                <!--:hiddn password-->
                <%= f.hidden_field :password, value: "guestguest" %>
                <%= f.submit "ゲストログイン　", class: "link" %>
              <% end %><!--:form guest user-->
            </li>

            <li class="nav-item">
              <%= link_to "新規登録　", new_user_registration_path, class: "link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン　", new_user_session_path, class: "link" %>
            </li>

            <% end %><!--:if user sign in-->
          </ul>

        <% end %><!--:if url /admin-->
        </ul>
      </nav>
    </div><!--:.header-list-->

    <div class="col-12">
      <!--検索機能-->
      <%= form_with url: root_path, method: :get do |f| %>
        <%= f.text_field :scope, placeholder: "気になる攻略を探そう" %>
        <%= f.submit "検索",class: "button-39" %>
      <% end %>
    </div>
    <div class="genre_list">
      <% @genres.each do |genre| %>
        <span>:
          <%= link_to homes_genre_scope_path(genre_id: genre.id) do %>
            <%= genre.name %>
          <% end %>
        </span>
      <% end %>
    </div><!--.genre_list-->
    </div><!--.row-->

  </header>


  <body>
    <%= yield %>
  </body>


</div><!--.container-->
</html>
